
<% include pricetable.ejs %>
<% if (message = 'show price table') { %>
    <div class="container">
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">PostID</th>
                <th scope="col">Post by</th>
                <th scope="col">Prod Name</th>
                <th scope="col">Prod Description</th>
                <th scope="col"><a href="/date">Date</a></th>
                <th scope="col"><a href="/price">Price</a></th>
                <th scope="col">Sold?</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% posts.forEach((post, index) => { %>
                <tr>
                    <th scope="row"><%= post.postid %></th>
                    <!-- <td><img src="/assets/img/<%= post.image %>" class="rounded-circle post-img" alt=""></td> -->
                    <td><%= post.postid %></td>
                    <td><%= post.product_name %></td>
                    <td><%= post.product_description %></td>
                    <td><%= post.post_date %></td>
                    <td>$<%= post.price %></td>
                    <td><%= post.sold %></td>
                    <td>
                        <a href="/see_post/<%= post.postid %>" class="btn btn-sm btn-primary">See More</a>
                        <a href="/edit/<%= post.postid %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                        <a href="/delete/<%= post.postid %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>
</div>
