<% include partials/header.ejs %>

<div class="row">
    <div class="col">
        <div class="table">

          <% if (postTwo.length > 0) {%>
              <table class="table table-hovered">
                  <thead class="thead-dark">
                      <tr>
                          <th scope="col">Product Name</th>
                          <th scope="col">Timestamp</th>
                          <th scope="col">Description</th>
                          <th scope="col">Tag</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% postTwo.forEach((post, index) => { %>
                          <tr>
                              <td><%= post.product_name %></td>
                              <td><%= post.post_date %></td>
                              <td><%= post.product_description %></td>
                              <td><%= post.tag %></td>
                          </tr>
                      <% }) %>
                  </tbody>
              </table>
          <% } else { %>
              <p class="text-center">No posts found! Make your own posts!</p>
          <% } %>


            <% if (postOne.length > 0) {%>
                <table class="table table-hovered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Firstname & Lastname</th>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% postOne.forEach((post, index) => { %>
                            <tr>
                                <td><%= post.name %></td>
                                <td><%= post.commentdate %></td>
                                <td><%= post.commenttxt %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p class="text-center">No comments found! Be the first one to comment!</p>
            <% } %>

        </div>
    </div>
</div>
</html>
